@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-size: 18px;
  font-family: Poppins, sans-serif;
  width: 100%;
  margin: 0 auto; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

/* Navigation */
.navigation {
  padding: 20px 180px;
  display: flex;
  justify-content: space-between;
  font-size: 14px; }
  .navigation li {
    display: inline;
    padding: 0 14px;
    line-height: 0; }
  .navigation .nav-items {
    display: flex;
    align-items: center; }
  .navigation .nav-item a {
    color: #9e9aa7;
    transition: .3s all; }
  .navigation .nav-item a:hover {
    color: black; }
  .navigation .nav-item a:active {
    color: black; }

.sign-up {
  color: white;
  background: #2acfcf;
  font-size: 14px;
  padding: 10px 22px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
  transition: .3s all; }

.sign-up:hover {
  background: #88E5E4;
  cursor: pointer; }

/* CTA */
.top-content {
  display: grid;
  margin: 40px 0 80px 200px;
  grid-gap: 80px;
  grid-template-columns: 600px 900px; }
  .top-content .cta-section {
    grid-column: 1 / 2;
    padding-top: 60px; }
  .top-content .working-image {
    grid-column: 2;
    height: 450px;
    width: 700px; }
  .top-content h1 {
    font-size: 76px;
    line-height: 1.1;
    color: #2b272f; }
  .top-content p {
    color: #bfbfbf;
    font-size: 22px;
    padding-bottom: 18px; }

.main-button {
  color: white;
  background: #2acfcf;
  padding: 12px 34px;
  font-size: 15px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  transition: .3s all; }

.main-button:hover {
  background: #88E5E4;
  cursor: pointer; }

/* Form */
.form {
  background-image: url("../images/bg-shorten-desktop.svg");
  background-color: #2b272f;
  background-size: cover;
  width: 1050px;
  height: 92px;
  padding-top: 46px;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto; }
  .form .shorten-btn {
    border-radius: 6px;
    padding: 14px 32px; }
  .form p {
    color: #CB567A;
    padding-top: 6px;
    text-align: left;
    font-size: 14px;
    padding-left: 140px;
    font-style: italic; }
  .form .red-border {
    border: 1px solid #CB567A; }
  .form #shorten-input {
    width: 600px;
    height: 40px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    padding: 4px 0 4px 16px;
    margin-right: 14px; }

/* Results */
.results .result {
  background: white;
  height: 56px;
  width: 990px;
  border-radius: 6px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
  margin-top: 18px; }
  .results .result a {
    color: #2acfcf; }
  .results .result p {
    color: #2b272f; }

.square-btn {
  border-radius: 6px; }

.purple-btn {
  background: #2b272f; }

.purple-btn:hover {
  background: #2b272f;
  opacity: .7; }

/* Mid Section */
.mid-section {
  background: #F0F1F6; }
  .mid-section .statistics-header {
    text-align: center;
    margin: 0 auto;
    padding: 80px 0 60px 0;
    width: 450px; }
  .mid-section h2 {
    font-size: 30px;
    padding-bottom: 8px; }
  .mid-section p {
    color: #9e9aa7;
    font-size: 15px; }
  .mid-section .statistics-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0 200px 0 200px;
    justify-items: center;
    height: 500px; }
    .mid-section .statistics-grid img {
      background: #2b272f;
      border-radius: 50%;
      height: 36px;
      width: 36px;
      padding: 10px; }
    .mid-section .statistics-grid .grid-item {
      background: white;
      padding: 10px 40px;
      width: 250px;
      height: 230px;
      border-radius: 6px; }
      .mid-section .statistics-grid .grid-item h3 {
        padding-bottom: 12px;
        font-size: 20px; }
      .mid-section .statistics-grid .grid-item p {
        width: 270px; }
    .mid-section .statistics-grid .records {
      margin-top: 50px; }
    .mid-section .statistics-grid .customizable {
      margin-top: 100px; }

/* Bottom Section */
.bottom-section {
  text-align: center;
  padding: 60px 0;
  background: url("../images/bg-boost-desktop.svg");
  background-size: cover;
  background-color: #2d2640;
  color: white; }
  .bottom-section h2 {
    padding-bottom: 20px; }

/* Footer */
footer {
  height: 300px;
  background: #241F27;
  color: white;
  display: grid;
  grid-template-columns: 230px 230px 230px 230px 230px 230px; }
  footer ul {
    margin-top: 60px; }
  footer .footer-logo {
    grid-column: 1;
    color: white; }
  footer li {
    padding-bottom: 10px; }
  footer a {
    color: #bfbfbf;
    transition: .3s all; }
  footer a:hover {
    color: #2acfcf; }
  footer .features {
    grid-column: 3; }
  footer .resources {
    grid-column: 4; }
  footer .company {
    grid-column: 5; }
  footer .social-icons {
    grid-column: 6;
    display: flex; }
    footer .social-icons li {
      margin-right: 22px; }

/*# sourceMappingURL=style.css.map */
